/*Padrão*/
:root {
    --primary-bg-color: rgba(255, 255, 255, 0.9);
    --secondary-bg-color: rgba(250, 250, 250, 0.9);
    --font-color: #fffff;
    --card-bg-color: rgba(235, 235, 235, 0.9);
    --primary-color: rgb(146, 134, 241);
    --timeline-color: rgb(41, 41, 41);

    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    font-family: "Roboto Light", sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Light", sans-serif;
    background-color: var(--primary-bg-color);
    padding: 0 300px;
}

/*Header*/

header {
    height: 5vh;;
}

.header-container {
    padding: 1vh 1vw;
    background-color: var(--secondary-bg-color);
    height: 5vh;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    color: var(--primary-color);
    font-weight: bold;
    z-index: 1000
}

.header-nav a {
    text-decoration: none;
}

.header-nav-container {
    width: 40%;
}

.header-nav-container a {
    margin: 5px;
}

/*Sections*/
section {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    width: 100%;
}

section h3 {
    text-align: center;
}

/*Section*/
#projetos, #experiencia, #contato {
    background-color: var(--secondary-bg-color);
}

/*Sobre*/
.sobre-container {
    height: 33vh;
    position: relative;
}

.sobre-content {
    margin: 1vw;
    width: 50vw;
    flex-direction: column;
    align-content: center !important;
    flex-wrap: wrap;
    justify-content: center;
}

/*.sobre_content_subtitle{
    margin: 0 0 0 2vw;
}*/

.sobre-content-description {
    text-align: justify;
}

.sobre-content h1 {
    margin: 0 0 1vh 0;
    color: var(--primary-color);
}

.sobre-image {
    width: 30vw;
}

.sobre-image img {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    image-rendering: auto;
    box-shadow: var(--box-shadow);
}

/*Projetos*/
.projetos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 95vw;
    gap: 16px;
}

.projetos-card {
    max-width: 300px;
    height: 500px;
    justify-content: space-between;
    font-size: 14px;
    padding: 1rem;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.projetos-card-header {
    height: 5vh;
    text-align: center;
}

.projetos-card-body {
    flex-direction: column;
    width: 250px;
    height: 70%;
    text-align: justify;
}

.projetos-card-body img {
    width: 250px;
    height: 140px;
    border-radius: 5px;
}

.projetos-card-footer {
    margin: 1vh 0;
    width: 100%;
    height: 15%;
    flex-direction: column;
}

.projetos-card-words {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projetos-card-words-container {
    width: 90%;
    margin: 5px;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    box-shadow: var(--box-shadow);
}

.projetos-card-links-container, .projetos-card-links-container a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.projetos-card-links-container img {
    width: 30px;
    height: 30px;
}

/*Formação*/
.formacao-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 95vw;
    gap: 16px;
    margin: 0 2vw;
    align-self: center;
}

.formacao-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.formacao-card header {
    height: 30%;
    margin-bottom: 1vh;
}

.formacao-card header h3{
    height: 60px;
}

.formacao-card header p {
    height: auto;
}

.formacao-card header span {
    margin: 1vh 1vw;
}

.formacao-card header span img {
    width: 20px;
    height: 20px;
}

.formacao-card p {
    height: auto;
    text-align: justify;
    justify-items: center;
    margin-top: 1vh;
}

.formacao-content-keys {
    display: flex;
    flex-direction: column;
}

/*Experiencia*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--timeline-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.experiencia-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

.experiencia-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -50.6%;
    align-self: end;
}

.right {
    left: 50.5%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--timeline-color);
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--timeline-color) transparent transparent;
}

.right::after {
    left: -16px;

    box-shadow: var(--box-shadow);
}

.experiencia-card {
    padding: 20px 30px;
    background-color: var(--card-bg-color);
    position: relative;
    border-radius: 6px;
    width: 100%;
    box-shadow: var(--box-shadow);
}

/*Habilidades*/
.habilidade-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.habilidade-card {
    width: 70%;
    height: auto;
    max-width: 600px;
    gap: 16px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: grid;
    box-shadow: var(--box-shadow);
}

.habilidade-card-header {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.habilidade-card-header img {
    width: 40px;
    height: 40px;
}

.habilidade-card-header h4 {
}

.habilidade-content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: start;
    height: 200px;
}

.habilidade-content {
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 16px;
    text-align: center;
    align-content: center;
    box-shadow: var(--box-shadow);
}

/*Contato*/
.contato-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.contato-content-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.contato-content img {
    width: 30px;
    height: 30px;
}

